#section-info {
    background: var(--color-soft-green);
    text-align: center;
}

#contact-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 0;
}

.box-contact {
    margin: 0 25px;
}

.box-contact ul li {
    color:  var(--color-pri-bkg) !important;
    font-size: small;
    display: flex;
}

.box-contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.box-contact table tbody td a{
    color:  var(--color-pri-bkg) !important;
}

#section-location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px auto;
}

.box-location {
    margin: 0 25px;
}

.box-location ul li {
    color:  var(--color-pri-bkg) !important;
    font-size: small;
    display: flex;
}

.box-location ul {
    list-style: none;
    margin: 0;
    padding: 0;
}