
#section-info {
    background:  variables.$color-soft-green;
    text-align: center;
}

#contact-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 25px 0;

    .box-contact {
        margin: 15px 25px;
        width: 250px;
    }

    .box-contact ul li {
        color:   variables.$color-pri-bkg !important;
        font-size: small;
        width: 200px;
        text-align: center;
    }

    .box-contact ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-contact table tbody td a{
        color:   variables.$color-pri-bkg !important;
    }
}


#section-location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px auto;
}

#map {
    margin: 20px 0;
    width: 70%;
    min-width: 250px;
    height: 300px;
}

.box-location {
    margin: 25px 0;
    text-align: center;

    p {
        color:   variables.$color-pri-bkg !important;
        text-align: center;
        margin: 0;
        padding: 0;
    }
}
