
#main-footer {
    background:  variables.$color-pri-bkg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#info-footer {
    width: 100%;
    background:  variables.$color-pri-bkg;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 0;
}

#main-footer h5 {
    color:  variables.$text-primary;
    max-height: 10px;
}

.box-footer {
    margin: 0 25px;
}

.box-footer ul li {
    color:  variables.$text-primary;
    font-size: small;
    display: flex;
}

.box-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.box-footer table tbody td a{
    color:  variables.$text-primary;
}

#copyright-footer {
    background:  variables.$color-sec-bkg;
    width: 100%;
    height: 30px;
    text-align: center;
}

#copyright-footer small {
    margin: 0;
    color:  variables.$text-primary;
}
