// @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

@font-face {
    font-family: "Jost";
    src: url('../fonts/Jost-Light.ttf') format("truetype");
}

* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-yellow {
    background-color: variables.$color-yellow !important;
    color: variables.$color-white !important;
    font-weight: 500 !important;
    border-radius: 2px !important;
}

.btn-yellow:hover {
    filter: brightness(95%);
}

.btn-opacity-1-2 {
    background: variables.$color-yellow-opacity !important;
}

.text-p {
    color: variables.$text-primary !important;
}
