#section-info-home {
    background:  variables.$color-soft-yellow;
    text-align: center;
}

.banner-home {
    position: relative;
    height: variables.$banner-height;

    & > img {
        width: 100vw;
        height: variables.$banner-height;
        object-fit: cover !important;
        object-position: center right !important;
        filter: brightness(0.5);
    }

    & > div {
        position: absolute;
        top: 0;
        left: 0;
    }
}


.card-home {
    margin: 10px 25px;
    height: 250px;
    position: relative;

    & img {
        width: 300px;
        min-width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center center;
        filter: brightness(0.5);
    }

    & h4 {
        margin: 0 auto;
        width: 100%;
        position: absolute;
        bottom: 0;
        margin: 15px auto;
        text-align: center;
    }

    // @media screen and (max-width: variables.$breakpoint-s) {
    //     margin: 15px auto;

    //     & img {
    //         width: 85%;
    //     }
    // }

    @media screen and (max-width: variables.$breakpoint-m) {
        margin: 15px auto;

        & img {
            width: 350px;
        }
    }

}

