// Colors 
$color-yellow-opacity: #ffc800b3;
$color-yellow: #FFC700;
$color-white: #FFFFFF;
$color-soft-green: #F2FCF8;
$color-soft-yellow: #FEFEE7;
$color-pri-bkg: #303030;
$color-sec-bkg: #000000;
$text-primary: #FFFFFF;
