@use 'variables';

@import '~@fortawesome/fontawesome-free/css/all.min.css',
  '~uikit/dist/css/uikit.min.css';

@import 'global', 'hamburguer', 'header', 'footer', 'contact', 'company',
  'catalog', 'home', 'forms';

@import 'admin/sidebar';

.mc-text-primary {
  color: variables.$color-white;
}

.bg-primary {
  background-color: variables.$color-pri-bkg;
}

.mc-bottom-line {
  border-bottom: 0.8px solid variables.$color-yellow;
}

.uk-input:focus {
  outline: 0;
  background-color: transparent;
  color: variables.$color-white;
  // border-color: #1e87f0;
}

.uk-form-blank:focus {
  border-color: transparent;
  border-style: none;
}

/*
 * Primary
 */
.uk-alert-primary {
  background: #60a5fa;
  color: #bfdbfe;
  border-radius: 5px;
}

/*
 * Success
 */
.uk-alert-success {
  background: #10b981;
  color: #a7f3d0;
  border-radius: 5px;
}

/*
 * Warning
 */
.uk-alert-warning {
  background: #fbbf24;
  color: #f3f4f6;
  border-radius: 5px;
}

/*
 * Danger
 */
.uk-alert-danger {
  background: #ef4444;
  color: #fecaca;
  border-radius: 5px;
}

.mc-table-container {
}
