@use 'variables';

@import '~@fortawesome/fontawesome-free/css/all.min.css',
'~uikit/dist/css/uikit.min.css';


@import 'global', 'hamburguer', 'header', 'footer', 'contact', 'company',
'catalog', 'home';

.mc-text-primary {
  color: variables.$color-white;
}

.mc-bg-primary {
  background-color: variables.$color-pri-bkg;
}

.mc-bottom-line {
  border-bottom: .8px solid variables.$color-yellow;
}

.uk-input:focus {
  outline: 0;
  background-color: transparent;
  color: variables.$color-white;
  // border-color: #1e87f0;
}

.uk-form-blank:focus {
  border-color: transparent;
  border-style: none;
}

.uk-alert {
  position: relative;
  margin-bottom: 20px;
  padding: 15px 29px 15px 15px;
  background: #f8f8f8;
  color: #666;
  border-radius: 5px
}

/*
 * Primary
 */
.uk-alert-primary {
  background: #60A5FA;
  color: #BFDBFE;
}

/*
 * Success
 */
.uk-alert-success {
  background: #10B981;
  color: #A7F3D0;
}

/*
 * Warning
 */
.uk-alert-warning {
  background: #FBBF24;
  color: #F3F4F6;
}

/*
 * Danger
 */
.uk-alert-danger {
  background: #EF4444;
  color: #FECACA;
}
